*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(star\ disign.gif);
}

.first1{
    color: beige;
    padding-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* this is a onlu demo */
}

.ram{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ram .ramm{
    height: 30px;
}

.ram img{
    height: 150px;
}

.jsr h5{
    background-color: rebeccapurple;
}
.jai{
    text-align: center;
}

.jai img{
    height: 30px;
}

.jpg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.jpg img{
    height: 100px;
    
}

.lyric{
    padding-top: 10px;
    text-align: center;
}

.lyric img{
    height: 30px;
}

.lyric .l-imag{
    height: 150px;
}

.audio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio audio{
    height: 80px;
}

.last{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.animat{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 100%;
}

.animat .box{
    width: 90vw;
    height: 40px;
    line-height: 40px;
    background-color: brown;
}

.box{
    color: white;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: rgb(19, 128, 223);
    font-family: Arial, Helvetica, sans-serif;
}

.box2{
    color: white;
    width: 90vw;
    height: 40px;
    text-transform: uppercase;
    border-radius: 50px;
    line-height: 40px;
    background-color:  blue;
    font-family: Arial, Helvetica, sans-serif;
}

.box3{
    color: white;
    width: 90vw;
    height: 40px;
    text-transform: uppercase;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgb(214, 12, 204);
    font-family: Arial, Helvetica, sans-serif;
}

.share{
    color: rgb(255, 145, 0);
    text-align: center;
    font-size: x-small;
    text-transform: capitalize;
}

.share h1 h1{
    height: 10px;
    /* font-size: x-small; */
}

.what-share{
    position: fixed;
    right: 0;
    bottom: 0;
  
    /* display: flex;
    align-items: center;
    justify-content:right; */
}

.what-share img{

    height: 70px;
}